@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif !important;
}

/* Navbar */
nav{
    text-transform: uppercase;
}

.get-resume-btn{
    border-color: #001C30;
    color: #DAFFFB !important;
    box-shadow: 0px 0px 3px 2px #DAFFFB;
}

.get-resume-btn:hover{
    background-color: #176B87;
    color: #DAFFFB !important;
    box-shadow: 0px 0px 10px 6px #176B87;
}

/* Sections */
.main-bg{
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.certification{
    background-color: #001C30 !important;
}

.cert-div {
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
}

/* Only on large screens */
@media only screen and (min-width: 992px) {
    .carousel-control-next-icon, .carousel-control-prev-icon {
        position: relative;
        padding: 5px;
    }

    .carousel-control-prev-icon {
        right: 100px;
    }

    .carousel-control-next-icon {
        left: 100px;
    }
}  

.carousel {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.carousel-indicators {
    position: relative !important;
    height: fit-content;
    top: 20px;
}

.carousel-caption {
    position: relative !important;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin: auto 0;
    width: 100%;
    font-size: medium;
    font-weight: 600;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}


/* Horizontal Lines */
.h-line{
    width:200px;
    height: 3px;
    color: white;
    background-color: rgb(181, 150, 255);
    margin: 0 auto;
}


h-line-1{
    width:250px;
    height: 3px;
    color: white;
    background-color: gray;
    margin: 0 auto;
}

.h-line-2{
    width:300px;
    height: 3px;
    color: white;
    background-color: ghostwhite;
    margin: 0 auto;
}

/* Portfolio */
.card-hover-1{
	background-color: #99b197;
	color: #FFF;
}

.card-hover-1:hover{
    scale: 1.1;   
    opacity: 30%;
	color: #0D0D0D;
	background-color: #FDFFAE;
}

.portfolio {
    background: linear-gradient(-45deg, #1f1c2c, #928DAB, #434343, #000000);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Contact */
.card-hover:hover{
    background-color: #969696;
    color: #FFF;
    cursor: pointer;
}

.icon{
    padding: 5px;
}

/* Skills */
.icon-img{
    width: 15%;
    max-width: 300px;
    max-height: 300px;
}
@media only screen and (min-width: 992px) {
    /* For desktop: */
    .icon-img{
        width: 5%;
    }
}   


.icon-img:hover{
    transform: scale(1.2);
}


.icon-list-01{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem;
}

.h-line-1{
    width:200px;
    height: 3px;
    color: white;
    background-color: aqua;
    margin: 0 auto;
}

.contact-box {
    height: 200px;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-wrapper {
    background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #141E30);
    background-size: 400% 400%;
    animation: gradient 18s ease infinite;
}

.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 15px;
  margin-bottom: 10px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #0563bb;
  color: #fff;
}

/* Footer */
#list-item{
    padding: 3px;
    color: aliceblue;
}

#list-item:hover{
    color: #784CFB;
    cursor:pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.simple-a {
    text-decoration: none;
    color: inherit;
}

.footer-icons:hover{
    color: #852600fa;
    filter: contrast(-50%);
    filter: invert(80%);
}
