#list-item{
    padding: 3px;
    color: aliceblue;
}

#list-item:hover{
    color: #784CFB;
    cursor:pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

.footer-icons{
    padding: 5px;
    cursor:pointer;
}

.footer-icons:hover{
    color: #852600fa;
    filter: contrast(-50%);
    filter: invert(80%);
}