#list-item{
    padding: 3px;
    color: aliceblue;
}

#list-item:hover{
    color: #784CFB;
    cursor:pointer;
}

i{
    padding: 5px;
    cursor:pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

p , h4 , h5 , li , ul{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}