.card-hover-1{
	background-color: #99b197;
	color: #FFF;
}

.card-hover-1:hover{
    scale: 1.1;   
    opacity: 30%;
	color: #0D0D0D;
	background-color: #FDFFAE;
}


.portfolio{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
